PyYAML==5.4.1
aiohttp==3.7.4.post0
colored==1.4.2
deepdiff==5.5.0
fusepy==3.0.1
humanize==3.6.0
kubernetes==17.17.0
python-dateutil==2.8.2
requests==2.25.1
types-PyYAML==5.4.3
types-python-dateutil==0.1.4
types-requests==2.25.0
